@import "base/variables";
@import "base/reset";
@import "layout/navbar";
@import "layout/hero";
@import "layout/footer";
@import "layout/servicios";
@import "layout/nosotros";
@import "layout/turnos";
@import "base/mixins";

/* global */
body {
  font-family: $fuente-principal;
}

a {
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-img {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar a {
    display: block;
    margin: 8px 0;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-img {
    width: 250px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  .hero-img {
    width: 200px;
  }
