.hero {
  background-image: url("../img/Gato-veterinaria.webp");
  background-size: cover;
  background-position: center;
  min-height: 90vh;

.hero {
  @include flex-center;
}

  padding: 0 80px;
  color: white;
  position: relative;
}

/* capa oscura para que se lea el texto */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  max-width: 500px;
  z-index: 1;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  background: $color-principal;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  display: inline-block;
}