.navbar {
  background: $color-principal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar a {
  color: $color-texto;
  margin: 0 10px;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}